<app-navbar></app-navbar>
<input id="imageInput" type="file" (change)="selectFile($event)" />
<br />
<input
  type="text"
  name="image"
  [(ngModel)]="fileName"
  placeholder="File name"
/>
<button class="btn btn-primary" (click)="upload()">Upload</button>
<br />
<br />
<input type="text" name="image" [(ngModel)]="file" placeholder="File to view" />
<br /><img
  *ngIf="file != ''"
  src="https://revazon-image-bucket.s3.amazonaws.com/{{ file }}"
  alt="product image"
/>
<form id="create-product-form" [formGroup]="createProductForm">
  <div class="form-group">
    <label for="inputProductName">Name of Product</label>
    <input
      type="text"
      class="form-control"
      formControlName="pname"
      id="inputProductName"
      placeholder="Enter Name of Product"
    />
  </div>
  <div class="form-group">
    <label for="inputQuantity">Quantity</label>
    <input
      type="number"
      class="form-control"
      formControlName="pquantity"
      id="inputQuantity"
      placeholder="Enter Quantity"
      min="1"
      max="9999999"
    />
  </div>
  <div class="form-group">
    <label for="inputDescription">Product Description</label>
    <input
      type="text"
      class="form-control"
      formControlName="pdescription"
      id="inputDescription"
      placeholder="Enter Product Description"
    />
  </div>
  <div class="form-group">
    <label for="inputPrice">Price</label>
    <input
      type="number"
      class="form-control"
      formControlName="pprice"
      id="inputPrice"
      placeholder="Price"
    />
  </div>
  <div class="form-group">
    <label for="inputPrice">Image</label>
    <input
      type="text"
      class="form-control"
      formControlName="pimage"
      id="inputImage"
      placeholder="Image.png"
    />
  </div>
  <div class="warning-messages">
    <h4>{{ this.warningTextMessage }}</h4>
    <br />
    <h4>{{ this.warningNumberMessage }}</h4>
    <br />
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Submit Product</button>
  <button class="btn btn-danger" [routerLink]="['/home']">Back</button>
</form>
