
<app-navbar></app-navbar>

<div class="detail-section">
  <div class="container-fluid">

    <a routerLink="/products" class="mt-5">Back to Product List</a><br>

    <img src="{{ product.imageUrl}}" class="detail-img">

    <h3>{{product.name}}</h3>
    <div class="price">{{product.unitPrice| currency: 'USD'}}</div>
<!--    <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button>-->
    <div class="card-body">
      <button class="btn btn-outline-success" (click)="addToCart(product)">Add to Cart</button>
    </div>

    <hr>
    <h4>Description</h4>
    <p>{{product.description}}</p>

<!--    <a (click)="backClicked()" class="mt-5">Back to Product List</a>-->
  </div>
</div>
