<nav class="navbar  gradient-custom">
    <h4>
        <img src="../../../assets/images/favicon.png" width="9%" height="9%" alt="Revature">
        Revature Swag Shop
    </h4>
    <form class="form-inline">
        <!--insert searchbar here-->
        <!--profile page also here? -->
        <button class="btn bg-transparent" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();">Logout</button>
    </form>
</nav>
