<div class="input-group">
  <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Search products..."
    [(ngModel)]="searchTerm" id="example-search-input">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>



<!--
    <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" />
  <button (click)="search()">Search</button>
</div>
  -->