<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="input-group" (submit)="search()">
    <input
      class="form-control border-end-0 border rounded-pill"
      type="text"
      placeholder="Search products..."
      [(ngModel)]="searchTerm"
      formControlName="query"
      id="example-search-input"
    />
    <span class="input-group-append">
      <button
        class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
        type="submit"
      >
        <em class="fa fa-search"></em>
      </button>
    </span>
  </div>
</form>
