<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="productInfo.image"
    (click)="selectProduct()"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title" (click)="selectProduct()">{{ productInfo.name }}</h5>
    <p class="card-text">{{ productInfo.description }}</p>
    <p class="card-text text-danger">{{ msg }}</p>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.price"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Quantity in Stock</span
      >
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.quantity"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div
    class="input-group input-group-sm mb-3"
    *ngIf="authService.isAuthenticated$ | async"
  >
    <div class="input-group-prepend">
      <span class="input-group-text">Quantity Ordered</span>
    </div>
    <input
      id="qty{{ productInfo.id }}"
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      min="1"
      [value]="1"
    />
  </div>
  <div class="card-body" *ngIf="authService.isAuthenticated$ | async">
    <button class="btn btn-outline-success" (click)="addToCart(productInfo)">
      Add to Cart
    </button>
  </div>
  <div *ngIf="role == 'ADMIN'">
    <div class="card-body">
      <button class="btn btn-outline-primary" (click)="wantsToUpdate()">
        Update Item Info
      </button>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-danger" (click)="wantsToDelete()">
        Delete Product
      </button>
      <!--ngif user role = admin-->
    </div>
  </div>
  <div class="deleteoption" *ngIf="wantToDelete">
    <h4>Are you sure you want to delete?</h4>
    <button class="btn btn-danger" (click)="onDeleteProduct(productInfo)">
      YES DELETE
    </button>
    <br />
    <button class="btn btn-outline primary" (click)="wantsToDelete()">
      CANCEL
    </button>
  </div>
  <div class="update-product" *ngIf="wantToUpdate">
    <form id="update-product-form" [formGroup]="updateProductForm">
      <div class="form-group">
        <label for="inputProductName">New Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="pname"
          id="inputProductName"
          placeholder="Enter Name of Product"
        />
      </div>
      <div class="form-group">
        <label for="inputQuantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          formControlName="pquantity"
          id="inputQuantity"
          placeholder="Enter Quantity"
          min="1"
          max="9999999"
        />
      </div>
      <div class="form-group">
        <label for="inputDescription">Product Description</label>
        <input
          type="text"
          class="form-control"
          formControlName="pdescription"
          id="inputDescription"
          placeholder="Enter Product Description"
        />
      </div>
      <div class="form-group">
        <label for="inputPrice">Price</label>
        <input
          type="number"
          class="form-control"
          formControlName="pprice"
          id="inputPrice"
          placeholder="Price"
        />
      </div>
      <div class="form-group">
        <label for="inputPrice">Image</label>
        <input
          type="text"
          class="form-control"
          formControlName="pimage"
          id="inputImage"
          placeholder="Image URL"
        />
      </div>
      <button class="btn btn-primary" (click)="onSubmitUpdate(productInfo)">
        Submit Product Update
      </button>
    </form>
  </div>
</div>
