<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    style="cursor: pointer;"
    [src]="productInfo.image"
    (click)="selectProduct()"
    alt="Card image cap"
  />
  <div class="card-body" style="cursor: pointer;">
    <h5 class="card-title" (click)="selectProduct()">{{ productInfo.name }}</h5>
    <p class="card-text " (click)="selectProduct()">{{ productInfo.description }}</p>
    <p class="card-text text-danger">{{ msg }}</p>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.price.toFixed(2)"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Quantity in Stock</span
      >
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.quantity"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div
    class="input-group input-group-sm mb-3"
    *ngIf="authService.isAuthenticated$ | async"
  >
    <div class="input-group-prepend">
      <span class="input-group-text">Quantity Ordered</span>
    </div>
    <input
      id="qty{{ productInfo.id }}"
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      min="1"
      [value]="1"
    />
  </div>
  <div class="card-body" *ngIf="authService.isAuthenticated$ | async">
    <button class="btn btn-outline-success" (click)="addToCart(productInfo)">
      Add to Cart
    </button>
  </div>
  <div *ngIf="role == 'ADMIN'">
    <div class="card-body">
      <button class="btn btn-outline-primary" (click)="updatePopUp(productInfo)">
        Update Item Info
      </button>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-danger" (click)="deletePopUp(productInfo)">
        Delete Product
      </button>
      <!--ngif user role = admin-->
    </div>
  </div>

</div>




