<div class="dropdown show">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div *ngFor="let tempProductCategory of productCategories">
      <a class="dropdown-item" routerLink="/category/{{tempProductCategory.id}}" routerLinkActive="active-link" >
        {{tempProductCategory.categoryName}}
      </a>
    </div>


  </div>
</div>
