<!-- Intro message for the currently logged in user -->
<h3>Welcome, {{ name }}!</h3>

<div class="container-fluid text-center">
    <div class="row">
      <div class="col-2">
        <div class="list-group">
            <!-- <a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a> -->
            <a (click)="changeContent('info')" name="button" id="info" class="list-group-item list-group-item-action active">User Information</a>
            <a (click)="changeContent('purchases')" name="button" id="purchases" class="list-group-item list-group-item-action">Purchase History</a>
            <a (click)="changeContent('reviews')" name="button" id="reviews" class="list-group-item list-group-item-action">Reviews</a>
          </div>
      </div>
      <div class="col-10">
        <div class="content">

            <div *ngIf="contentSelected == 'info'" >User profile</div>
            <div *ngIf="contentSelected == 'purchases'" >Purchase History</div>
            <div *ngIf="contentSelected == 'reviews'" >Reviews</div>
        </div>
      </div>
    </div>
  </div>
