.w-800 {
    max-width: 800px;
}

.btn-primary {
    font: inherit;
    border: 1px solid #043419;
    background: #072f11;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}