<!-- Intro message for the currently logged in user -->
<app-navbar></app-navbar>

<h3 style="margin-left: 1%; margin-top: 2%">Welcome, {{ currentUser.firstName }}!</h3>


<div class="container-fluid text-center">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
      
        <a (click)="changeContent('info')" id="info" class="list-group-item list-group-item-action active">User
          Information</a>
        <a (click)="changeContent('purchases')" id="purchases" class="list-group-item list-group-item-action">Purchase
          History</a>
        <a (click)="changeContent('reviews')" id="reviews" class="list-group-item list-group-item-action">Reviews</a>

      </div>
    </div>


    <div class="col-10">
      <div class="content-bg">
        <div *ngIf="contentSelected == 'info'">
          <div class="text-left p-2 title mb-4">User Profile</div>

          <div class="container text-center p-4 content shadow-lg bg-white rounded">
            <div class="row justify-content-md-center mb-2">
              <div class="col col-lg-2 info-field">First Name</div>
              <div class="col col-lg-2">
                {{ currentUser.firstName }}
              </div>
            </div>

            <div class="row justify-content-md-center mb-2">
              <div class="col col-lg-2 info-field">Last Name</div>
              <div class="col col-lg-2">
                {{ currentUser.lastName }}
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col col-lg-2 info-field">Mailing Address</div>
              <div class="col col-lg-2">
                <div *ngIf="addresses.length <= 0">No mailing address</div>

                <div *ngIf="addresses.length >= 1">
                  {{ addresses[0].street }} {{ addresses[0].secondary }}
                  {{ addresses[0].city }}, {{ addresses[0].state }}
                  {{ addresses[0].zip }}
                </div>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col col-lg-2">
                <button (click)="openPopup()" class="btn btn-primary mt-4">
                  Update Information
                </button>
              </div>
            </div>
          </div>

          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: modalVisibility }">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Your Information below</h4>
                  <button (click)="closePopup()" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <form [formGroup]="updateUserInfoForm">
                  <div class="modal-body">
                    <div class="form-group mt-2">
                      <label for="first-name">First Name</label>

                      <input [(ngModel)]="currentUser.firstName" name="first-name" type="text" class="form-control"
                        formControlName="firstName" [ngClass]="{
                          invalid: updateUserInfoForm.get('firstName')!.invalid
                        }" id="first-name" placeholder="First Name" />
                    </div>

                    <div class="form-group mt-2">
                      <label for="last-name">Last Name</label>

                      <input [(ngModel)]="currentUser.lastName" name="last-name" type="text" class="form-control"
                        formControlName="lastName" [ngClass]="{
                          invalid: updateUserInfoForm.get('lastName')!.invalid
                        }" id="last-name" placeholder="Last Name" />
                    </div>

                    <div class="form-group mt-2">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input [(ngModel)]="updatedAddress.street" name="address" type="text" class="form-control"
                        formControlName="address" [ngClass]="{
                          invalid: updateUserInfoForm.get('address')!.invalid
                        }" id="inputAddress" placeholder="1234 Main St" />
                    </div>
                    <div class="form-group mt-2">

                      <label for="inputAddress2" class="form-label">Secondary</label>
                      <input [(ngModel)]="updatedAddress.secondary" name="secondary" type="text" class="form-control"
                        id="inputAddress2" placeholder="Apartment, studio, or floor" />

                    </div>
                    <div class="form-group mt-2">
                      <label for="inputCity" class="form-label">City</label>
                      <input [(ngModel)]="updatedAddress.city" name="city" type="text" class="form-control"
                        id="inputCity" formControlName="city" [ngClass]="{
                          invalid: updateUserInfoForm.get('city')!.invalid
                        }" placeholder="City" />
                    </div>
                    <div class="form-group mt-2">
                      <label for="inputState" class="form-label">State</label>
                      <select [(ngModel)]="updatedAddress.state" name="state" id="inputState" class="form-select"
                        formControlName="state" [ngClass]="{
                          invalid: updateUserInfoForm.get('state')!.invalid
                        }">
                        <option value="" selected hidden disabled>
                          Choose...
                        </option>
                        <option value="">N/A</option>
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input [(ngModel)]="updatedAddress.zip" name="zip" type="text" class="form-control"
                        formControlName="zip" [ngClass]="{
                          invalid: updateUserInfoForm.get('zip')!.invalid
                        }" id="inputZip" placeholder="12345" />
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <div class="modal-footer">
                    <button [disabled]="updateUserInfoForm.invalid" type="button"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2" (click)="updateInfo()">
                      Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>

        <div *ngIf="contentSelected == 'purchases'">
          <div class="text-left p-2 title mb-4">Purchase History</div>

          <div class="container text-center p-4 content shadow-lg bg-white rounded">
            <div *ngIf="purchases.length < 1">
              <h3 class="text-muted mt-2">No purchases for this account!</h3>
              <h5 class="text-muted mt-2">Make a purchase!</h5>
              <button class="btn btn-shop mt-4" [routerLink]="['/']">Return to shop</button>
            </div>

            <div *ngFor="let purchase of purchases" class="col">
              <div class="card mb-5">
                <div class="card-header">
                  <div class="row purchase-info">
                    <div class="col-2">Order Date</div>
                    <div class="col-3">Total</div>
                    <div class="col-7">Order #</div>
                  </div>

                  <div class="row">
                    <div class="col-2">{{ purchase.orderPlaced }}}</div>
                    <div class="col-3">
                      ${{ purchase.product.price.toFixed(2) }}
                    </div>
                    <div class="col-7">{{ purchase.id }}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-2">
                    <img [src]="purchase.product.image" alt="product image" />
                  </div>
                  <div class="col-2">
                    <a [routerLink]="['/product-details']" class="link-primary"
                      (click)="selectItem(purchase.product.id)">{{ purchase.product.name }}</a>
                    <p>{{ purchase.product.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>

        <div *ngIf="contentSelected == 'reviews'">
          <div class="text-left p-2 title mb-4">
            Review History for {{ currentUser.firstName }}
          </div>

          <div class="container text-center p-4 content shadow-lg bg-white rounded">
            <div class=" text-left">
              <app-review *ngFor="let review of reviews" [reviewObj]="review"></app-review>
              <p *ngIf="!reviews.length" class="text-center">
                No reviews by {{ currentUser.firstName }} yet.
              </p>
            </div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>
</div>