.content-bg {
  background-color:rgb(237, 238, 239);
  outline: rgb(138, 136, 136);
}
.btn-shop{
  background-color:  #F26925;
  color:whitesmoke;
}
.content {
  background-color:white;
}

.list-group:hover {
  cursor: pointer;
}

.info-field {
  color: grey
}

.title {
  background-color:dimgray;
  color: white;
}

.purchase-info {
  color: grey;
}

img {

  width: 50%;
}
